:root,
:host {
  //基础颜色
  --base-blank: #000; //黑色
  --base-white: #fff; //白色
  --base-gray-1: #f2f2f2; //灰色1
  --base-gray-2: #f6f6f6; //灰色2
  --base-gray-3: #ebedf0;
  --base-gray-4: #dcdee0;
  --base-gray-5: #c8c9cc;
  --base-gray-6: #969799;
  --base-gray-7: #646566;
  --base-gray-8: #333; //灰色8
  --base-gray-9: #666; //灰色9
  --base-gray-10: #999; //灰色10
  --base-red: #ee0a24; //红色
  --base-blue: #3369e7; //蓝色
  --base-blue-hover: #3369e7; //蓝色
  --base-orange: #fc771e; //橙色
  --base-green: #07c160; //绿色
  // 组件颜色
  --base-primary-color: var(--base-blue);
  --base-primary-color-hover: var(--base-blue-hover);
  --base-success-color: var(--base-green);
  --base-danger-color: var(--base-red);
  --base-warning-color: var(--base-orange);
  --base-text-color: var(--base-gray-8);
  //padding
  --base-padding-base: 4px;
  --base-padding-8: 8px;
  --base-padding-12: 12px;
  --base-padding-16: 16px;
  --base-padding-24: 24px;
  --base-padding-32: 32px;
  // 字体Font
  --base-font-bold: 600;
  --base-font-size-10: 10px;
  --base-font-size-12: 12px;
  --base-font-size-14: 14px;
  --base-font-size-16: 16px;
  //修改element-ui plus默认颜色边距等
  --el-color-primary: var(--base-blue);
  --el-border-radius-base: 2px;
}
